* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
}

#tariff {
    background-color: #F3F0E7;
    padding: 30px 39px;
}

.tariff__nameBox {
    max-width: 550px;
    margin: 0 auto;
}

.tariff__name {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.tariff__btn {
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    transition: all .3s ease;
    font-weight: 400;
    font-size: 22px;
}

.tariff__btn:hover {
    background-color: rgb(52, 52, 52);
}

.tariff__swiper {
    border-radius: 15px;
    max-width: 1312px;
    height: 450px;
    margin: 30px 0;    
}

html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper__ilim {
  width: 100%;
  height: 100%;
}

.mySwiper__ilim .swiper-slide {
  width: 100% !important;
  height: 100% !important;
  background: #fff;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 15px;
}

.mySwiper__ilim .swiper-slide img {
  display: block;
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.mySwiper__ilim .swiper-pagination-bullet {
  width: auto !important;
  height: 30px !important;
  border-radius: 0 !important;
  color: black !important;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #000;
  opacity: 1 !important;
  background: none !important;
  position: relative;
}

.mySwiper__ilim .swiper-pagination-bullet::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #FFC806;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}
  
.mySwiper__ilim .swiper-pagination-bullet:hover::after, .mySwiper__ilim .swiper-pagination-bullet-active::after {
    width: 100%;
    left: 0;
}
  
.mySwiper__ilim .swiper-pagination-bullet-active {
    background: black;
}

.mySwiper__ilim .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
}

.mySwiper__ilim .swiper-button-prev,
.mySwiper__ilim .swiper-button-next {
  width: 56px !important;
  height: 56px !important;
}

.mySwiper__ilim .swiper-button-prev img,
.mySwiper__ilim .swiper-button-next img {
  width: 100%;
  height: 100%;
}

.mySwiper__ilim .swiper-button-prev {
  left: 30px !important;
}

.mySwiper__ilim .swiper-button-next {
  right: 30px !important; 
}

.mySwiper__ilim .swiper-button-next:after,
.mySwiper__ilim .swiper-button-prev:after{
    display: none !important;
}

@media(max-width:1160px) {

    .mySwiper__ilim .swiper-button-prev,
    .mySwiper__ilim .swiper-button-next {
      width: 42px !important;
      height: 42px !important;
    }

    .mySwiper__ilim .swiper-button-prev {
        left: 20px !important;
    }
      
    .mySwiper__ilim .swiper-button-next {
        right: 20px !important;
    }

}

@media(max-width:910px) {
    .mySwiper__ilim .swiper-pagination {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto; 
        white-space: nowrap;
    }

    .mySwiper__ilim .swiper-pagination::-webkit-scrollbar {
        display: none;
    }
}

.payment__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 0 50px 0;
    h3{
        font-size: 32px;
        font-family: "Noto Sans", serif;
        font-weight: 500;
    }
    p{
        width: 598px;
        font-family: "Noto Sans", serif;
        font-size: 18px;
        text-align: center
    }
}


@media(max-width:910px) {

    .container {
        max-width: 99%;
    }

    .tariff__name {
        font-size: 22px;
    }

    .mySwiper__ilim .swiper-slide img{
        width: 100%;
        transform: perspective(600px) translateZ(-150px);
    }

    .mySwiper__ilim .swiper-slide__imf1 {
        width: 70%;
    }

    .mySwiper__ilim .swiper-slide {
        width: 100% !important;
        height: 100% !important;
        background: #fff;
        display: flex !important;
        
        align-items: center !important;
        border-radius: 15px;
    }

    #tariff {
        background-color: #F3F0E7;
        padding: 30px 17px;
    }

    .tariff__btn {
        font-size: 18px;
    }
}

@media(max-width:600px) {

    .mySwiper__ilim .swiper-button-prev {
        left: 10px !important;
    }
      
    .mySwiper__ilim .swiper-button-next {
        right: 10px !important;
    }

    .mySwiper__ilim .swiper-button-prev,
    .mySwiper__ilim .swiper-button-next {
      width: 32px !important;
      height: 32px !important;
    }

    .tariff__nameBox {
        max-width: 300px;
        margin: 0 auto;
    }


    .tariff__swiper {
        height: 230px;
        margin: 20px 0;    
    }

    .tariff__btn {
        font-size: 16px;
    }

    #tariff {
        background-color: #F3F0E7;
        padding: 30px 6px;
    }
    
    .tariff__name {
        font-size: 18px;
    }

    .mySwiper__ilim .swiper-pagination-bullet {
        width: auto !important;
        height: 20px !important;
        font-size: 16px;
    }

    .mySwiper__ilim .swiper-pagination {
        gap: 20px;
        margin-bottom: 18px;
      }
}
.payment__bottom{
    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-wrapper{
        height: 80% !important;
      }
  
      .swiper-slide {
        opacity: 0.5 ;
        text-align: center;
        height: 300px !important;
        width: 60% !important;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide .slide   {
        display: block;
        width: 100%;
        height: 100%;
        
      }
      .swiper-pagination {
        position: static;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: grey;
        opacity: 1;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: black;
    }
}

#payment .container{
    width: 100%;
    margin: none;
    max-width: none;
}
.paymentSwiper{
    .swiper-slide-active{
        opacity: 1 !important;
        height: 105%;
    }
}
