* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
}

.payment__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 0 50px 0;
    h3{
        font-size: 32px;
        font-family: "Noto Sans", serif;
        font-weight: 500;
    }
    p{
        width: 598px;
        font-family: "Noto Sans", serif;
        font-size: 18px;
        text-align: center
    }
}


.payment__bottom{
    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-wrapper{
        height: 80% !important;
      }
  
      .swiper-slide {
        opacity: 0.5 ;
        text-align: center;
        height: 300px !important;
        width: 60% !important;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide .slide   {
        display: block;
        width: 100%;
        height: 100%;
        
      }
      .swiper-pagination {
        position: static;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: grey;
        opacity: 1;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: black;
    }
}

#payment .container{
    width: 100%;
    margin: none;
    max-width: none;
}

.swiper-slide-active{
    opacity: 1 !important;
    height: 105%;
}